﻿@model List<StockReportResource>
@{
    ViewData["Title"] = "Stock Report";
}

<h1>Stock Report</h1>

@if (ViewBag.ErrorMessage != null)
{
    <div class="alert alert-danger">
        @ViewBag.ErrorMessage
    </div>
}

<div class="card">
    <div class="card-body">
        <form action="@Url.Action("Index")" method="get">
            <div class="row">
                <div class="col-md-6 col-lg-3 form-group">
                    <label>Item</label>
                    <select name="itemId" class="form-control" data-live-search="true">
                        <option value=""></option>
                        @foreach (Item item in ViewBag.ItemList)
                        {
                            <option value="@item.Id">@item.Code - @item.Name</option>
                        }
                    </select>
                </div>

                <div class="col-md-6 col-lg-3 form-group">
                    <label>Warehouse</label>
                    <select name="warehouseId" class="form-control" data-live-search="true">
                        <option value=""></option>
                        @foreach (Warehouse item in ViewBag.WarehouseList)
                        {
                            <option value="@item.Id">@item.Code - @item.Name</option>
                        }
                    </select>
                </div>

                <div class="col-md-6 col-lg-3 form-group">
                    <label>Start Date</label>
                    <input type="date" name="startDate" class="form-control" />
                </div>

                <div class="col-md-6 col-lg-3 form-group">
                    <label>End Date</label>
                    <input type="date" name="endDate" class="form-control" />
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <button type="submit" class="btn btn-success">Apply Filter</button>
                    <a href="@Url.Action("Index")" class="btn btn-secondary">Reset</a>
                </div>
            </div>
        </form>

    </div>
</div>

<div class="table-responsive mt-3">
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Item Code</th>
                <th>Item Name</th>
                <th>Warehouse Code</th>
                <th>Warehouse Name</th>
                <th>Beginning</th>
                <th>In</th>
                <th>Out</th>
                <th>Ending</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.ItemCode</td>
                    <td>@item.ItemName</td>
                    <td>@item.WarehouseCode</td>
                    <td>@item.WarehouseName</td>
                    <td>@item.Beginning.ToString("#,#.##")</td>
                    <td>@item.In.ToString("#,#.##")</td>
                    <td>@item.Out.ToString("#,#.##")</td>
                    <td>@item.Ending.ToString("#,#0.##")</td>
                </tr>
            }
        </tbody>
    </table>
</div>

@section Scripts
{
    <script>
        $(function () {
            $('select[name=itemId]').selectpicker('val', '@ViewBag.ItemId');
            $('select[name=warehouseId]').selectpicker('val', '@ViewBag.WarehouseId');
            $('input[name=startDate]').val('@ViewBag.StartDate');
            $('input[name=endDate]').val('@ViewBag.EndDate');
        });
    </script>
}

