﻿@model User
@{
    ViewData["Title"] = ViewBag.Action + " User";
}

<h1>@ViewBag.Action User</h1>

@if (ViewBag.ErrorMessage != null)
{
    <div class="alert alert-danger">
        @ViewBag.ErrorMessage
    </div>
}

<form asp-action="@ViewBag.Action" method="post">
    <div class="col-md-6">
        <div class="row">
            <div class="col-md-12 form-group">
                <label>User Name</label>
                <input asp-for="UserName" class="form-control" />
            </div>

            <div class="col-md-12 form-group">
                <label>Password</label>
                <input asp-for="Password" class="form-control" type="password" />
            </div>

            <div class="col-md-12 form-group">
                <label>Role</label>
                <select asp-for="Role" class="form-control">
                    <option>Administrator</option>
                    <option>Operator</option>
                </select>
            </div>

        </div>

        <div class="row">
            <div class="col-12">
                <button type="submit" class="btn btn-success" style="min-width:80px">Save</button>
                <a class="btn" asp-action="Index">Cancel</a>
            </div>
        </div>
    </div>

</form>