﻿
@{
    ViewData["Title"] = "Create Goods Issue";
}

<h1>Create Goods Issue</h1>

<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-md-3 form-group">
                <label>Document Number</label>
                <input id="documentNumber" class="form-control" disabled />
            </div>

            <div class="col-md-3 form-group">
                <label>Document Date</label>
                <input id="documentDate" type="date" value="@DateTime.Now.ToString("yyyy-MM-dd")" class="form-control" />
            </div>

            <div class="col-md-6 form-group">
                <label>Warehouse</label>
                <select id="warehouseId" class="form-control" data-live-search="true">
                    <option value=""></option>
                    @foreach (Warehouse warehouse in ViewBag.WarehouseList)
                    {
                        <option value="@warehouse.Id">@warehouse.Code - @warehouse.Name</option>
                    }
                </select>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 form-group">
                <label>Remarks</label>
                <input id="remarks" class="form-control" />
            </div>
        </div>
    </div>
</div>

<div class="row mt-3">
    <div class="col-md-12">
        <button class="btn btn-primary" onclick="addItem()">Add Item</button>
    </div>
</div>

<div class="table-responsive mt-3">
    <table id="tableDetail" class="table table-striped table-bordered">
        <thead>
            <tr>
                <th></th>
                <th width="50%">Item</th>
                <th width="25%">Unit</th>
                <th width="25%">Qty</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>

<div class="row mt-3">
    <div class="col-md-12">
        <button class="btn btn-success" style="min-width:80px" onclick="saveData()">Save</button>
        <a asp-action="Index" class="btn">Cancel</a>
    </div>
</div>


@section Scripts
{
    <script>
        $(function () {
            $('#warehouseId').selectpicker();
            $('#itemId').selectpicker();
        });

        var lastId = 0;

        function addItem() {
            lastId++;
            var tr = `<tr id='${lastId}'>`;

            tr += `<td>
                    <button class='btn btn-danger' onclick='deleteItem(${lastId})'>Delete</button>
                   </td>`;

            tr += `<td>
                    <select id='itemId-${lastId}' class='form-control' data-live-search='true'>
                        <option value=''></option>
                        @foreach(Item item in ViewBag.ItemList)
                        {
                            <option value='@item.Id'>@item.Code - @item.Name</option>
                        }
                    </select>
                   </td>`;

            tr += `<td id='unit-${lastId}'></td>`;

            tr += `<td><input id='quantity-${lastId}' class='form-control' type='number' /></td>`;

            $('#tableDetail > tbody').append(tr);


            $('#itemId-' + lastId).selectpicker();
            $('#itemId-' + lastId).change(function () {
                var param = {
                    id: $('#itemId-' + lastId).val()
                };

                $.get('@Url.Action("Get", "Item")', param)
                    .done(function (res) {
                        $('#unit-' + lastId).text(res.unit);
                    });
            });
        }

        function deleteItem(id) {
            $('#' + id).remove();
        }

        function saveData() {
            var listDetail = [];
            $('#tableDetail > tbody > tr').each(function () {
                var tr = $(this);

                var thisId = tr.attr('id');

                var data = {
                    itemId: $('#itemId-' + thisId).val(),
                    quantity: $('#quantity-' + thisId).val()
                };

                listDetail.push(data);
            });

            var param = {
                documentDate: $('#documentDate').val(),
                warehouseId: $('#warehouseId').val(),
                remarks: $('#remarks').val(),
                listDetail: listDetail
            };

            $.post('@Url.Action("Create")', param)
                .done(function () {
                    alert('Data saved successfully.');
                    window.location.href = '@Url.Action("Index")';
                })
                .fail(function (xhr) {
                    alert('Failed to save data. ' + xhr.responseText);
                });
        }
    </script>
}