﻿@model List<GoodsIssueResource>
@{
    ViewData["Title"] = "Index";
}

<h1>Goods Issue</h1>

<div class="row">
    <div class="col-md-12">
        <a asp-action="Create" class="btn btn-primary">Create New Goods Issue</a>
    </div>
</div>

<div class="card mt-3">
    <div class="card-body">
        <form asp-action="Index" method="get">
            <div class="row">
                <div class="col-md-6 form-group">
                    <label>Warehouse</label>
                    <select name="warehouseId" class="form-control">
                        <option value=""></option>
                        @foreach (Warehouse warehouse in ViewBag.WarehouseList)
                        {
                            <option value="@warehouse.Id">@warehouse.Code - @warehouse.Name</option>
                        }
                    </select>
                </div>

                <div class="col-md-3 form-group">
                    <label>Start Date</label>
                    <input type="date" name="startDate" class="form-control" />
                </div>

                <div class="col-md-3 form-group">
                    <label>End Date</label>
                    <input type="date" name="endDate" class="form-control" />
                </div>

                <div class="col-md-12">
                    <button class="btn btn-success" type="submit">Apply Filter</button>
                    <a href="@Url.Action("Index")" class="btn btn-secondary">Reset</a>
                </div>
            </div>
        </form>
    </div>
</div>


<div class="table-responsive mt-3">
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th></th>
                <th>Document Number</th>
                <th>Document Date</th>
                <th>Warehouse Code</th>
                <th>Warehouse Name</th>
                <th>Remarks</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <th>
                        <a asp-action="Update" asp-route-id="@item.Id" class="btn btn-info">Update</a>
                        <a asp-action="Print" asp-route-id="@item.Id" target="_blank" class="btn btn-secondary">Print</a>
                        <button onclick="deleteData('@item.Id')" class="btn btn-danger">Delete</button>
                    </th>
                    <td>@item.DocumentNumber</td>
                    <td>@item.DocumentDate.ToString("dd/MM/yyyy")</td>
                    <td>@item.WarehouseCode</td>
                    <td>@item.WarehouseName</td>
                    <td>@item.Remarks</td>
                </tr>
            }
        </tbody>
    </table>
</div>

@section Scripts
{
    <script>
        $(function () {
            $('select[name=warehouseId]').selectpicker('val', '@ViewBag.WarehouseId');
            $('input[name=startDate]').val('@ViewBag.StartDate');
            $('input[name=endDate]').val('@ViewBag.EndDate');
        });

        function deleteData(id) {

            if (confirm('Are you sure?')) {
                var param = {
                    id: id
                };

                $.post('@Url.Action("Delete")', param)
                    .done(function () {
                        window.location.reload();
                    })
                    .fail(function (xhr) {
                        alert('Failed to delete data. ' + xhr.responseText);
                    });
            }


        }
    </script>
}