﻿@model GoodsIssueResource
@{
    Layout = "_LayoutPrint";
    ViewData["Title"] = "Print";
}

<h3 class="text-center mt-3">Goods Issue</h3>

<div class="table-responsive mt-3">
    <table class="table">
        <thead>
            <tr>
                <th>Document No</th>
                <th>Document Date</th>
                <th>Warehouse</th>
                <th>Remarks</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@Model.DocumentNumber</td>
                <td>@Model.DocumentDate.ToShortDateString()</td>
                <td>@Model.WarehouseCode - @Model.WarehouseName</td>
                <td>@Model.Remarks</td>
            </tr>
        </tbody>
    </table>
</div>

<div class="table-responsive mt-3">
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Item Code</th>
                <th>Item Name</th>
                <th>Quantity</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var detail in Model.ListDetail)
            {
                <tr>
                    <td>@detail.ItemCode</td>
                    <td>@detail.ItemName</td>
                    <td>@detail.Quantity.ToString("#,#0.##")</td>
                </tr>
            }
        </tbody>
    </table>
</div>

