﻿@model Warehouse
@{
    ViewData["Title"] = ViewBag.Action + " Warehouse";
}

<h1>@ViewBag.Action Warehouse</h1>

@if (ViewBag.ErrorMessage != null)
{
    <div class="alert alert-danger">
        @ViewBag.ErrorMessage
    </div>
}

<form asp-action="@ViewBag.Action" method="post">
    <div class="col-md-6">
        <div class="row">
            <div class="col-12 form-group">
                <label>Code</label>
                <input asp-for="Code" class="form-control" />
            </div>

            <div class="col-12 form-group">
                <label>Name</label>
                <input asp-for="Name" class="form-control" />
            </div>

        </div>

        <div class="row">
            <div class="col-12">
                <button type="submit" class="btn btn-success" style="min-width:80px">Save</button>
                <a class="btn" asp-action="Index">Cancel</a>
            </div>
        </div>
    </div>

</form>