﻿@model List<Warehouse>
@{
    ViewData["Title"] = "Index";
}

<h1>Data Warehouse</h1>

<div class="row">
    <div class="col-md-6 mb-1">
        <a asp-action="Create" class="btn btn-primary">Create New Warehouse</a>
    </div>

    <div class="col-md-6 pull-right">
        <form asp-action="Index" method="get">
            <div class="input-group">
                <input name="keyword" value="@ViewBag.Keyword" class="form-control" placeholder="Input search keyword..." />
                <div class="input-group-append">
                    <button class="btn btn-success" type="submit">Search</button>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="table-responsive mt-2">
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th></th>
                <th>Code</th>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var warehouse in Model)
            {
                <tr>
                    <td>
                        <a asp-action="Update" asp-route-id="@warehouse.Id" class="btn btn-info">Update</a>
                        <button onclick="deleteWarehouse('@warehouse.Id')" class="btn btn-danger">Delete</button>
                    </td>
                    <td>@warehouse.Code</td>
                    <td>@warehouse.Name</td>
                </tr>
            }
        </tbody>
    </table>
</div>

@section Scripts
{
    <script>
        function deleteWarehouse(id) {

            if (confirm('Are you sure?')) {

                var param = {
                    id: id
                };

                $.post('@Url.Action("Delete")', param)
                    .done(function() {
                        window.location.reload();
                    });
            }
        }
    </script>
}