﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome!</h1>
    <h4>@User.Identity.Name</h4>
</div>

@section Scripts
{
    <script>
        $(function () {
            $('.select').select2();
        });
    </script>
}
