﻿@model LoginResource
@{
    Layout = "_LayoutEmpty";
    ViewData["Title"] = "Login";
}

@if(ViewBag.ErrorMessage != null)
{
    <div class="alert alert-danger">
        @ViewBag.ErrorMessage
    </div>
}

<div class="col-md-4 offset-md-4 mt-5">
    <div class="card">
        <div class="card-body">
            <h3>Login</h3>

            <form asp-action="Login" method="post">
                <input asp-for="ReturnUrl" type="hidden" />

                <div class="row">
                    <div class="col-md-12 form-group">
                        <label>User Name</label>
                        <input asp-for="UserName" class="form-control" />
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12 form-group">
                        <label>Password</label>
                        <input asp-for="Password" class="form-control" type="password" />
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <button type="submit" class="btn btn-primary btn-block">Login</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>



